.header
  width 100%
  height 20vw
  background-color antiquewhite
  text-align center
  ul
    width 100%
    height 100%
    list-style none
    display flex
    align-items center
    justify-content space-around
    li
      padding 20px
      a
        color brown
        text-decoration none