.login
  position absolute
  left 0
  right 0
  bottom 0
  top 0
  background-color antiquewhite
  .bg
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    background-image url("../images/5a0c0b85dc646.jpg")
    background-repeat no-repeat
    background-size cover
    filter blur(5px)
    z-index 1
  .box
    color #fff
    z-index 2
    position absolute
    width 750px
    height 300px
    background-color #fff
    left 50%
    top 50%
    margin-left -300px
    margin-top -150px
